Repository kythe/kythe, pull requests merged in 2018-07, with the labels that each got.

#2815 properly handle utf16 surrogate pairs
  kythe/typescript/package.json
  kythe/typescript/utf8.ts
  kythe/typescript/utf8_test.ts
  kythe/typescript/yarn.lock
Labels: typescript

#2819 Go indexer: maintain vendored package paths to properly resolve types
  kythe/go/indexer/emit.go
  kythe/go/indexer/indexer.go
Labels: go

#2818 Go indexer: add --continue flag to log errors without halting analysis
  kythe/go/indexer/cmd/go_indexer/go_indexer.go
Labels: go

#2825 Update setup_release.sh script procedures
  kythe/release/setup_release.sh
Labels: release

#2839 Add go.mod file based on current WORKSPACE
  go.mod
  go.sum
Labels: build

#94 typescript: index 'extends' clauses in interfaces
  kythe/typescript/indexer.ts
  kythe/typescript/testdata/class.ts
  kythe/typescript/testdata/generic.ts
Labels: typescript

#2843 Allow setting the option for emitting JVM signatures.
  AUTHORS
  CONTRIBUTORS
  kythe/java/com/google/devtools/kythe/analyzers/java/JavaIndexerConfig.java
Labels: buildbot

#2848 Add ProcessAnnotation later.
  kythe/java/com/google/devtools/kythe/extractors/java/JavaCompilationUnitExtractor.java
Labels: buildbot

#2851 JavaExtractor: attempt to find --sourcegendir from new JavaCompileInfo.argument field
  kythe/java/com/google/devtools/kythe/extractors/java/bazel/BUILD
  kythe/java/com/google/devtools/kythe/extractors/java/bazel/JavaExtractor.java
Labels: java

#2859 Add logic to append kythe javac-wrapper to gradle.build files.
  kythe/go/extractors/config/wrapper/BUILD
  kythe/go/extractors/config/wrapper/README.md
  kythe/go/extractors/config/wrapper/gradle_build_modifier.go
  kythe/go/extractors/config/wrapper/gradle_build_modifier_test.go
  kythe/go/extractors/config/wrapper/testdata/modified-gradle.build
  kythe/go/extractors/config/wrapper/testdata/other-gradle.build
  kythe/go/extractors/config/wrapper/testdata/plain-gradle.build
Labels: gradle

#2884 Add AppEngine configuration for Kythe Buildbot
  kythe/release/appengine/buildbot/.gitignore
  kythe/release/appengine/buildbot/Dockerfile
  kythe/release/appengine/buildbot/README
  kythe/release/appengine/buildbot/app.yaml
  kythe/release/appengine/buildbot/bazel
  kythe/release/appengine/buildbot/bazelrc
  kythe/release/appengine/buildbot/cache-llvm.sh
  kythe/release/appengine/buildbot/deploy.sh
  kythe/release/appengine/buildbot/master/buildbot.tac
  kythe/release/appengine/buildbot/master/master.cfg.template
  kythe/release/appengine/buildbot/start.sh
  kythe/release/appengine/buildbot/worker/buildbot.tac
  kythe/release/appengine/buildbot/worker/info/admin
  kythe/release/appengine/buildbot/worker/info/host
Labels: build

#2889 Java extractor: ignore JDK 9 modules as well as JDK 8 jars
  kythe/java/com/google/devtools/kythe/extractors/java/JavaCompilationUnitExtractor.java
Labels: java
